
<!-- Updated HTML   -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Login</title>
	 
<!-- 	BS style link 	   -->
	  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- js CDN link  -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Custom CSS link  -->

    <link rel="stylesheet" href="H:\Bs4-lear\style\pratice.css">
  </head>
  <body>



    <div class="login">
      <h1>Predict Salary Analysis</h1>

      <form class="" action=" {{url_for('predict')}} " method="POST">

        <input type="text" name="experience" class="form-control" placeholder="experience" value=""> <br>
        <input type="text" name="TestScore" class="form-control" placeholder="TestScore" value=""> <br>
        <input type="text"  class="form-control"  name="interview Score" placeholder="interview score" value=""> <br>
        <input type="submit" name=""  class="btn  form-control btn-success" value="Predict">




      </form>

<br>
	    
<br>
	   

    </div>
	 {{ prediction_text }}

  </body>
</html>





